<table class="custom-table">
  <thead>
    <tr>
      <th>✔️</th>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let header of headers.controls; let i = index" [formGroup]="asFormGroup(headers.at(i))">
      <td>
        <input type="checkbox" formControlName="enabled" />
      </td>
      <td>
        <input type="text" formControlName="key" class="full-width-input" placeholder="Key" />
      </td>
      <td>
        <input type="text" formControlName="value" class="full-width-input" placeholder="Value" />
      </td>
      <td>
        <button type="button" (click)="removeHeader(i)" [disabled]="headers.length === 1">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>
