<table class="custom-table">
  <thead>
    <tr>
      <th>✔️</th>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let param of params.controls; let i = index" [formGroup]="asFormGroup(params.at(i))">
      <td>
        <input type="checkbox" formControlName="enabled" />
      </td>
      <td>
        <input type="text" formControlName="key" class="full-width-input" placeholder="Key" />
      </td>
      <td>
        <input type="text" formControlName="value" class="full-width-input" placeholder="Value" />
      </td>
      <td>
        <button type="button" (click)="removeParam(i)" [disabled]="params.length === 1">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="mt-2">
  <button type="button" (click)="addParam()">➕ Add Param</button>
</div>
