<div class="lft-side-ver-panel-menu">
  <i class="pi pi-plus" (click)="createCollection()"></i>
  <p-panelMenu [model]="collectionItems" />
</div>

<div class="main-content">
<div class="horizontal-main-tabs">
    <p-tabView [(activeIndex)]="activeTabIndex" [scrollable]="true" (onChange)="onTabChange($event)" (onClose)="onTabClose($event)">
      <p-tabPanel
        *ngFor="let tab of requestTabs"
        [header]="tab.label ?? ''"
        [closable]="true"
      >
      </p-tabPanel>
    </p-tabView>
</div>
<i class="pi pi-plus" (click)="createNewEmptyReqTab()" style="    width: fit-content;
    top: 1rem;
    position: absolute;
    left: 15rem; cursor: pointer;"></i>

<div class="horizontal-second-row">
  <p-dropdown
    [options]="requestTypeList"
    [(ngModel)]="activeTab.request.reqType"
    appendTo="Body"
  />
  <input
    type="text"
    pInputText
    [(ngModel)]="activeTab.request.url"
    style="width: 65%"
  />
  <p-splitButton
    label="Send"
    (onClick)="sendHttpRequest('info')"
    [model]="items"
    [style]="{ 'font-size': '0.85rem', 'padding': '0.25rem 0.8rem', 'height': '3.0rem', 'width': '8rem' }"
  />
  <p-splitButton
    label="Save"
    (onClick)="saveReqTabInCollection()"
    [style]="{ 'font-size': '0.85rem', 'padding': '0.25rem 0.8rem', 'height': '3.0rem', 'width': '8rem' }"
  />
</div>
<div class="hor-sub-tab-sec-row">
  <p-tabView (onChange)="onSubTabChange($event)">
    @for (section of tabSections; track section.label) {
    <p-tabPanel [header]="section.label" style="height: 14rem;">
      <ng-container [ngSwitch]="activeSubTab">
        <ng-container *ngSwitchCase="'Params'"> 
         <div style="overflow-y: auto; display: block; height: 14rem;">
           <app-query-params (queryParamsChange)="onParamsChange($event)"></app-query-params>
         </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Authorization'"> 
          <app-authorization (authChange)="onAuthChanged($event)"></app-authorization>
        </ng-container>
        <ng-container *ngSwitchCase="'Headers'"> 
          <div style="overflow-y: auto; display: block; height: 14rem;">
           <app-headers (headersChange)="onHeadersChange($event)"></app-headers>
           </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Body'">
          <div style="width: 75rem; height: 14rem">
            <app-editor
              [editorOptions]="editorOptions"
              [code]="activeTab.request.body ?? ''"
              (codeChanged)="onBodyChange($event)"
            ></app-editor>
          </div>
        </ng-container>
      </ng-container>
    </p-tabPanel>
    }
  </p-tabView>
</div>

<div class="response-area">
  <div style="width: 75rem; height: 23rem">
    <app-editor
      [editorOptions]="editorOptions"
      [code]="activeTab.response.body"
      [isFormatEditor]="true"
    ></app-editor>
  </div>
</div>
</div>






<p-dialog header="Create Collection" [modal]="true" [(visible)]="showCreateCollecDialog" [style]="{ width: '25rem', height: '17rem' }">
    <span class="p-text-secondary block mb-5">Name</span>
    <div class="flex align-items-center gap-3 mb-3">
        <input style="width: 18rem; margin-top: 1rem;" [(ngModel)]="newCollectionName" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2" style="margin-top: 2rem;">
        <p-button label="Cancel" severity="secondary" (onClick)="showCreateCollecDialog = false" [style]="{'margin-left': '2rem'}"/>
        <p-button label="Save" (onClick)="showCreateCollecDialog = false; createCollection('save')" [style]="{'margin-left': '2rem'}"/>
    </div>
</p-dialog>


<p-dialog header="Save Request" [modal]="true" [(visible)]="showSaveReqTabDialog" [style]="{ width: '25rem', height: '22rem' }">
     <p-dropdown
    [options]="collectionsList"
    [(ngModel)]="selectedCollectionId"
    optionLabel="name"
    optionValue="code"
    appendTo="Body"
    [style]="{width: '18rem'}"
    placeholder="Select Collection"
  />
    <div style="margin-top: 2rem;">
        <input style="width: 18rem;" [(ngModel)]="newReqTabName" pInputText id="newTabReqName" class="flex-auto" [value]="newReqTabName" placeholder="Enter request name" />
    </div>
    <div class="flex justify-content-end gap-2" style="margin-top: 2rem;">
        <p-button label="Cancel" severity="secondary" (onClick)="showSaveReqTabDialog = false"  [style]="{'margin-left': '2rem'}"/>
        <p-button label="Save" (onClick)="showSaveReqTabDialog = false; saveReqTabInCollection('save')" [style]="{'margin-left': '2rem'}"/>
    </div>
</p-dialog>
