/* You can add global styles to this file, and also import other style files */

.p-tabview .p-tabview-panels{
    padding: 0.2rem !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    padding: 0.55rem;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.1rem;
}

.p-element .p-icon-wrapper{
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
}

.hor-sub-tab-sec-row {
    a{
         padding: 0.5rem !important;
         margin-left: 2rem;
    }
    .p-datatable .p-datatable-thead > tr > th{
        padding: 0.1rem;
    }
}

.lft-side-ver-panel-menu{
    .p-element .p-icon-wrapper{
        margin-bottom: 0rem;
    }
    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action{
        padding: 0.45rem 0.45rem 0.45rem 0rem;
    }
    .p-panelmenu .p-panelmenu-content .p-menuitem > .p-menuitem-content .p-menuitem-link{
        padding: 0.45rem 0.5rem;
    }
    .p-panelmenu .p-panelmenu-content{
        padding: 0rem;
    }
    .p-menuitem-link.ng-tns-c1818545701-7.ng-star-inserted{
        margin-left: 1.5rem;
    }
}

.horizontal-second-row{
    p-splitbutton{
        button{
            .p-element.p-icon-wrapper{
                margin-bottom: 0rem;
            }
        }
    }
}

.main-content{
    .horizontal-main-tabs{
        a{
            timesicon{
                margin-right: 0.5rem;
                svg{
                    height: 0.7rem;
                }
            }
        }
    }
}